.info{
  text-align: center;
}
.link{
  text-align: center;
  margin: 15px;
  background: #0060BE;
  display: block;
  color: white;
  padding: 15px;
  border: solid 1px;
  border-radius: 10px;
}
.link:hover{
  background: #005fbed0;
}
.info > li{
  padding: 20px;
}
.info > p{
  margin-bottom: 20px;
}
.buttons{
  margin: auto;
  max-width: 300px;
}