/*******FILTER AND ORDER*******/
.inline{
  display: grid;
  grid-template-columns: 3fr 2fr 5fr 2fr;
  margin-top: 20px;
}
.filter, .order, .period, .itens{
  margin: auto;
}
label{
  font-size: 13px;
}
.select{
  margin-right: 6px;
}
/********SECTION TABLE********/
table{
  width: 100%;
  margin: 10px auto;
}
table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
th, td {
  font-size: 15px;
  text-align: center;
}
.th{
  background: #dddddd;
}
.td:nth-child(even) {
  background: #dddddd;
}
.wrap{
  max-width: 800px;
  margin: auto;
}
.info{
  min-width: 100px;
}
.name{
  min-width: 140px;
}
.phone{
  min-width: 120px;
}
.note{
  min-width: 60px;
}
.ind{
  min-width: 60px;
}
.opn{
  min-width: 180px;
}
.fav{
  min-width: 40px;
}
.pagination > p{
  text-align: center;
  margin: 25px 0;
  font-size: 13px;
}