.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.logo{
  padding-top: 15px;
  background: #FFB701;
  text-align: center;
  margin: auto;
}
.header{
  background:#FED200;
  justify-content: center;
}
.menu{
  display: flex;
  justify-content: space-evenly;
}
.menu li {
  margin: 10px;
  font-size: 15px;
}
.menu li a:hover{
  text-decoration: underline;
}
.back{
  min-height: 50vh;
}
.footer{
  background: #FFB701;
  position: relative;
  bottom: 0;
  width:100%;
  padding: 20px 0;
  text-align: center;
}
.footer > div > p{
  font-size: 15px;
  padding: 5px;
}
.footer > div > p > a{
  text-decoration: underline;
  font-weight: 600;
}
.footer > div > p > a:hover{
  color: white;
}