a{
  color: black;
  text-decoration: none;
}
.logo{
  padding-top: 15px;
  background: #FFB701;
  text-align: center;
  margin: auto;
}
.header{
  background:#FED200;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu{
  display: flex;
}
.menu li {
  margin: 10px;
}
.menu li a{
  display: block;
  padding: 0px 10px;
}
.back{
  min-height: 50vh;
}
.footer{
  background: #FFB701;
  position: relative;
  bottom: 0;
  width:100%;
  padding: 20px 0;
  text-align: center;
}
.footer > p{
  font-size: 15px;
  padding: 5px;
}
.footer > p > a{
  text-decoration: underline;
  font-weight: 600;
}