@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Yantramanav&display=swap');
.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/****************CSS HEADER****************/
.colorHeader{
  background: #FFB701;
}
.a{
  font-size: 20px;
  font-family: 'Yantramanav';
}
.header{
  display: flex;
  align-items: center;
  height: 30px;
  padding: 20px;
}
.menu{
  display: flex;
}
.menu li {
  margin-left: 10px;
}
.menu li a {
  display: block;
}
/****************CSS SECTION1****************/
.colorSection1{
  background:#F5F5F5;
}
.section1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 25px;
  font-family: 'Source Sans Pro';
  text-align: start;
  height: 400px;
}
/****************CSS SECTION2****************/
.colorSection2{
  background:#FED200;
}
.section2{
  height: 400px;
}
/****************CSS SECTION3****************/
.section3{
  height: 400px;
}
/****************CSS SECTION4****************/
.section4{
  height: 400px;
}
/*****************CSS FOOTER****************/
.colorFooter{
  background: #C8E6F5;
}
.footer{
  height: 200px;
}